/* default styles */
body {
    font-family: "noto sans", sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 2em;
    background-color: white;
}

h2 {
    font-family: "inter", sans-serif;
    text-align: left;
    font-size: 48px;
}

.default-content p {
    font-size: 22px;
}



/* Navigation Bar styles */
.nav, .nav-elements {
    display: flex;
    flex-direction: row;;
    align-items: center;
}

.nav {
    font-size: 1.2em;
    border-style: groove;
    border-width: 0 0 4px 0;
    border-color: #70be8d;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 1em 0 0.5em 0;
}

.logo h1 {
    text-align: left;
}

.create-blog , .delete-blog {
    display: flex;
    background-color: #70be8d;
    border-radius: 2em;
    height: 3em;
    margin: 0 2em;
    align-items: center;
    justify-content: center;
}


.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 1rem;
}

.nav-elements a:hover, .create-blog a:hover {
    color: #565656;
}


/* Create blog tab styles */
.blog-form form {

    max-width: 400px;
    margin: 0 auto;
}

.blog-form input, .blog-form textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blog-form button {
    padding: 0.5em 1em;
    background-color: #3fb34b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.blog-form button:hover {
    background-color: #36903f;
}

.blog-form h1 {

    text-align: center;
    margin-bottom: 2em;
}


/* Blogs page styles */
/* Blog list styles */
.blog-item {
    max-width: 800px;
    margin: 1em 4em;
    padding: 0 1em;

    font-size: 24px;
    border-style: solid;
    border-width: 0 0 0 4px;
    border-color: #36903f;
}

.blog-item a {
    text-decoration: none;
    color: black;
}

.blog-item a:hover {
    color: #565656;
}

/* Specific blog page styles */
/* Blog details styles */
#blog-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    color: #70be8d;
    margin: 0 2em;
    padding-top: 1em;
    height: 2em;
}

#created-at {
    font-size: 22px;
}

#details-content p {
    font-size: 22px;
    margin: 2em 4em;
    padding: 0 1em;
}

#details-content #snippet {
    font-weight: bold;
}

.delete-blog {
    font-weight: bold;
    margin-left: 4em;
    width: 6em;
}

.delete-blog:hover {
    cursor: pointer;
}

