body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Navigation Bar styles */
.nav, .nav-elements {
    display: flex;
    flex-direction: row;;
    align-items: center;
    font-family: "inter", sans-serif;
}

.nav {
    margin: 0 12px;
    border-style: groove;
    border-width: 0 0 4px 0;
    border-color: #70be8d;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 1em 0 0.5em 0;
}

.logo h1 {
    text-align: left;
}

.create-blog {
    display: flex;
    background-color: #70be8d;
    border-radius: 2em;
    height: 3em;
    margin: 0 2em;
    align-items: center;
}


.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 1rem;
}

.nav-elements a:hover, .create-blog a:hover {
    color: #565656;
}


/* Create blog tab styles */
.blog-form form {
    font-family: "noto sans", sans-serif;
    max-width: 400px;
    margin: 0 auto;
}

.blog-form input, .blog-form textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blog-form button {
    padding: 0.5em 1em;
    background-color: #3fb34b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.blog-form button:hover {
    background-color: #36903f;
}

.blog-form h1 {
    font-family: "noto sans", sans-serif;
    text-align: center;
    margin-bottom: 2em;
}
